* {
    font-family: Open+Sans;
    margin: 0;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #5a3a64;
    top: 0px;
    right: 0px;
 }
 .header__menu__items {
    display: inline;
    margin: 10px;
    font-family: quicksand;
    font-weight: bold;
 }

.sec {
    margin-top: 70px;
}

.logo {
  margin: 5px;
}

.header__menu__nav {
  position: relative;
  top: 35px;
}
.tittle {
    color:blue;
    font-family: quicksand;
    text-align: center;
    margin: 90px; /* ÑAPA */
}    
.team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;       
    align-items: center;
    margin: 50px;     
}

.team-description{
    text-align: center;
}
  
.alumna {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: no-wrap; 
  }
  
.bio {
    justify-content: left;
    padding: 30px;
    align-items: center;
  }
  
.alumna.reverse {
    flex-direction: row-reverse;
    align-items: center;
  }
  
.alumna.reverse .bio {
    text-align: right;
  }

.footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #5a3a64;
} 
.link {
    color: #a1ca9b;
    text-decoration:none;
}

.link:hover {
    color: #eb636b; }