@import "pages/about-us";


/*Globales*/
* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	box-sizing: border-box;
	/* font-family: 'Rubik', sans-serif;*//*Cogerla para los títulos, deb. fort., menu (nav), hero y footer*/ 
  }
  .title {
	color: #099D8D;
	text-align: center;
	margin: 60px 0 45px 0;
	font-family: 'Rubik', "sans-serif";
	font-size: 24px;
  }
  
  