<article class="article__container reverse__article">
  <img class="img__personal" src="@@imgrev" alt="Adalaber" title="Foto de Adalaber" />
  <div class="article__bio reverse__bio">
    <h3 class="h3__name">@@namerev</h3>
    <p class="article__paragraph reverse__paragraph">
      @@biorev
    </p>
    <div class="icons">
      <a class="icons__link" href="@@twitterrev" target="_blank"><i class="fab fa-twitter"></i></a>
      <span class="dot"></span>
      <a class="icons__link" href="@@linkedinrev" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <span class="dot"></span>
      <a class="icons__link" href="@@githubrev" target="_blank"><i class="fab fa-github-alt"></i></a>
      <span class="dot"></span>
      <a class="icons__link" href="@@mailrev" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</article>
