<article class="aboutus__container">
  <img class="aboutus__container__img" src="@@img" alt="Adalaber" title="Foto de Adalaber" />
  <div class="aboutus__container__bio">
    <h3 class="aboutus__container__bio__h3">@@name</h3>
    <p class="aboutus__container__bio__paragraph">
      @@bio
    </p>
    <div>
      <a class="aboutus__container__bio__link" href="#" target="_blank"><i class="fab fa-twitter">@@twitter</i></a>
      <span class="dot"></span>
      <a class="aboutus__container__bio__link" href="#" target="_blank"><i class="fab fa-linkedin-in">@@linkedin</i></a>
      <span class="dot"></span>
      <a class="aboutus__container__bio__link" href="#" target="_blank"><i class="fab fa-github-alt">@@github</i></a>
      <span class="dot"></span>
      <a class="aboutus__container__bio__link" href="#" target="_blank"><i class="fas fa-envelope">@@mail</i></a>
    </div>
  </div>
</article>
