<section>
  <a class="anchor" id="team"></a>
  <h2 class="title">EQUIPO</h2>
  <div class="team">
    <p class="team__description"><b>#CodeLike&lta&gtGirl</b> somos 5 mujeres que nos hemos unido para afrontar el reto de convertirnos en Programadoras Front-End.</p>
    <p class="team__description">
      Estamos decididas a entrar al mundo de la tecnología con paso fuerte y decidido y nos caracteriza darnos y dar valor a todo el trabajo que realizamos, ¡no nos dan miedo los retos!
    </p>
  </div>
  <aside class="sw">
    <div class="sw__detail"></div>
    <div class="sw__container">
      <div class="sw__container__strengthsweakness">
        <h3 class="sw__container__strengthsweakness__title">Fortalezas</h3>
        <p class="sw__container__strengthsweakness__text">
          Somos un equipo multidisciplinar, nuestra diversidad nos permite afrontar los retos desde diferentes visiones y perspectivas. Gracias a nuestro background tenemos una visión amplia, creativa y resolutiva. Tenemos la capacidad de dar y generar valor y empatía, nuestras ganas y motivación nos empujan a sobresalir en un mundo predominantemente masculino.
        </p>
      </div>
      <div class="sw__container__strengthsweakness">
        <h3 class="sw__container__strengthsweakness__title">Debilidades</h3>
        <p class="sw__container__strengthsweakness__text">
          Somos 5 mujeres que provienen de mundos fuera de la tecnología, esto supone un reto, reto que en vez de minarnos nos motiva a aprender y a trabajar con más ganas. La eficiencia y eficacia en nuestro trabajo irá aumentando según vayamos desarrollando más tareas. Los obstáculos actuales se convertirán en las herramientas que nos permitirán crecer como futuras programadoras FrontEnd.
        </p>
      </div>
    </div>
  </aside>
</section>
