<article class="aboutus__container">
  <a class="anchor__adalabers" id="adalabers"></a>
  <!-- AQUÍ VA EL TÍTULO -->
  <img class="aboutus__container__img" src="@@img" alt="Adalaber" title="Foto de Adalaber" />
  <div class="aboutus__container__bio">
    <h3 class="aboutus__container__bio__h3">@@name</h3>
    <p class="aboutus__container__bio__paragraph">
      @@bio
    </p>
    <div>
      <a class="aboutus__container__bio__link" href="@@twitter" target="_blank"> <i class="fab fa-twitter" title="Twiiter"></i></a>
      <span class="dot"></span>
      <a class="aboutus__container__bio__link" href="@@linkedin" target="_blank"><i class="fab fa-linkedin-in" title="Linkedin"></i></a>
      <span class="dot"></span>
      <a class="aboutus__container__bio__link" href="@@github" target="_blank"><i class="fab fa-github-alt" title="GitHub"></i></a>
      <span class="dot"></span>
      <a class="aboutus__container__bio__link" href="@@mail" target="_blank"><i class="fas fa-envelope" title="E-mail"></i></a>
    </div>
  </div>
</article>
