<h2 class="title" id="quienes_somos">QUIÉNES SOMOS</h2>
<article class="article__container">
  <img class="img__personal" src="@@img" alt="Adalaber" title="Foto de Adalaber" />
  <div class="article__bio">
    <h3 class="h3__name">@@name</h3>
    <p class="article__paragraph">
      @@bio
    </p>
    <div>
      <a class="icons__link" href="#" target="_blank"><i class="fab fa-twitter">@@twitter</i></a>
      <span class="dot"></span>
      <a class="icons__link" href="#" target="_blank"><i class="fab fa-linkedin-in">@@linkedin</i></a>
      <span class="dot"></span>
      <a class="icons__link" href="#" target="_blank"><i class="fab fa-github-alt">@@github</i></a>
      <span class="dot"></span>
      <a class="icons__link" href="#" target="_blank"><i class="fas fa-envelope">@@mail</i></a>
    </div>
  </div>
</article>
