<footer class="footer">
  <p class="footer__paragraph">#CodeLike&lta&gtGirl &copy 2019</p>
  <nav class="footer__menu">
    <ul class="footer__menu__ul">
      <li class="footer__menu__ul__li">
        <a class="footer__menu__ul__li__link" href="#">EQUIPO</a>
      </li>
      <li class="footer__menu__ul__li">
        <a class="footer__menu__ul__li__link" href="#">QUIÉNES SOMOS</a>
      </li>
      <li class="footer__menu__ul__li">
        <a class="footer__menu__ul__li__link" href="contacto.html">CONTACTO</a>
      </li>
    </ul>
  </nav>
  <div class="footer__logo">
    <img class="footer__logo__adalab" src="assets/images/logo-adalab.png" alt="logoequipo" />
  </div>
</footer>
