<header class="header__menu">
  <div class="logo">
    <!-- <img src="Images/airfly.png" alt="logoequipo"/> -->
    <a href="#" title="¡Bienvenido a #CodeLike<a>Girl!"
      ><img
        src="assets/images/bebasneue.png"
        alt="#CodeLike<a>Girl"
        width="300px"
    /></a>
  </div>
  <nav class="header__menu__nav">
    <ul class="nav_items">
      <li class="header__menu__items">
        <a class="link" href="#equipo" title="Nuestro equipo">EQUIPO</a>
      </li>
      <li class="header__menu__items">
        <a class="link" href="#quienes_somos" title="Conócenos"
          >QUIÉNES SOMOS</a
        >
      </li>
      <li class="header__menu__items">
        <a class="link" href="contacto.html" title="¡Cuéntanos!">CONTACTO</a>
      </li>
    </ul>
  </nav>
</header>
