<header class="header">
  <div class="logo">
    <!-- <img src="Images/airfly.png" alt="logoequipo"/> -->
    <a href="#" title="¡Bienvenido a #CodeLike<a>Girl!"><img src="assets/images/bebasneue.png" alt="#CodeLike<a>Girl"
        width="300px" /></a>
  </div>
  <nav class="header__nav">
    <ul class="nav_items">
      <li class="header__nav__items">
        <a href="#equipo" title="Nuestro equipo">EQUIPO</a>
      </li>
      <li class="header__nav__items">
        <a href="#quienes_somos" title="Conócenos">QUIÉNES SOMOS</a>
      </li>
      <li class="header__nav__items">
        <a href="contacto.html" title="¡Cuéntanos!">CONTACTO</a>
      </li>
    </ul>
  </nav>
</header>