@charset "UTF-8";

.aboutus__container {
  text-align: center;
  width: 80%;
  margin: auto;
}

.aboutus__container__img {
  width: 180px;
  height: 180px;
  background-size: contain;
  border-radius: 10px;
  border: 5px solid grey;
  margin: 30px 0 15px 0;
}

.aboutus__container__bio__h3 {
  margin: 0 0 15px 0;
}

.aboutus__container__bio__paragraph {
  color: #54585a;
}

.aboutus__container__bio__link {
  color: #099d8d;
}

.aboutus__container__bio__link:hover {
  color: #fabada;
}/*PREGUNTAR A MIGUEL QUÉ HACER CON LOS FAB, LOS FAS Y LOS DOT */.fab {
  padding: 15px 5px;
}

.fas {
  padding: 15px 5px;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3px;
}/*Globales*/* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 /* font-family: 'Rubik', sans-serif;*/ /*Cogerla para los títulos, deb. fort., menu (nav), hero y footer*/;
}

.title {
  color: #099D8D;
  text-align: center;
  margin: 60px 0 45px 0;
  font-family: 'Rubik', "sans-serif";
  font-size: 24px;
}/*Header*/.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #099d8d;
  z-index: 999;
  opacity: 0.90;
}

.header__menu__items {
  display: inline;
  margin: 10px;
  font-weight: bold;
  font-family: 'Rubik-Medium', 'sans-serif';
  font-size: 15px;
}

.logo {
  margin: 5px 0 0 10px;
}

.header__menu__nav {
  position: relative;
  top: 20px;
}

.link {
  color: #a1ca9b;
  text-decoration: none;
}

.link:hover {
  color: #eb636b;
}/*Hero*/.hero-section {
  width: 100vw;
  background-image: url("../images/slide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.hero-container {
  max-width: 924px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
}

.hero-container .hero-text {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.hero-container .hero-text h2 {
  margin: 15px 30px;
  font-family: sans-serif;
  text-align: left;
}/*Team*/.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px;
}

.team-description {
  text-align: center;
}/*Fortalezas y debilidades*/.sw__detail {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 /* border: 1px solid black; */
  background-color: white;
  width: 27px;
  height: 27px;
  margin: auto;
  display: block;
  position: relative;
  -webkit-transform: translateY(50%) rotate(45deg);
  transform: translateY(50%) rotate(45deg);
  z-index: 980;
}

.central-container__sw {
 /*border: 1px solid black;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
}

.strengths {
 /* border: 1px solid black; */
  width: 40%;
  padding: 45px 0 60px 0;
}

.weakness {
  width: 40%;
  padding: 45px 0 60px 0;
}

.strenghts__title {
  color: #099D8D;
  text-align: center;
}

.weakness__title {
  color: #099D8D;
  text-align: center;
}

.strengths__text {
  text-align: center;
}

.weakness__text {
  text-align: center;
}/*mobile*//*Footer*/.footer {
  color: #b8b8b9;
  border-top: solid 1px #54585a;
  text-align: center;
  max-width: 100%;
}

.footer__paragraph {
  margin: 30px auto 20px auto;
}

.footer__menu__nav__ul {
  padding: 0;
}

.footer__menu__items {
  list-style-type: none;
}

.link__footer {
  text-decoration: none;
  color: #54585a;
}

.logo_adalab {
  width: 115.9px;
  height: 45px;
  margin: 30px auto 45px auto;
}

@media all and (min-width: 768px) {
  .aboutus__container {
    border: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .aboutus__container:nth-child(odd) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .aboutus__container__img {
    width: 205px;
    height: 205px;
  }

  .aboutus__container__bio {
    border: 2 px solid red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 35px 0px 0px 30px;
  }

  .aboutus__container__bio:nth-child(odd) {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 35px 30px 0px 0px;
  }

  .aboutus__container__bio__paragraph {
    text-align: left;
  }

  .aboutus__container__bio__paragraph:nth-child(odd) {
    text-align: right;
  }

  .fab {
    padding: 15px 5px 0px 0px;
  }

  .fas {
    padding: 15px 5px 0px 0px;
  }

  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 100px;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .header__menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #099d8d;
  }

  .header__menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    position: fixed;
    width: 100vw;
    height: 35px;
    top: 60px;
    background-color: #14d9c4;
  }

  .link {
    color: white;
    text-decoration: none;
  }

  .hero-section {
    height: 361px;
  }

  .hero-container .hero-text {
    max-width: 441px;
  }

  .footer {
    color: #b8b8b9;
    border-top: solid 1px #54585a;
    max-width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .footer__paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 auto 15px 8vw;
  }

  .footer__menu__nav__ul {
    position: absolute;
    right: 8vw;
    top: 30px;
    text-align: right;
    line-height: 180%;
    font-size: 14px;
  }

  .footer__menu__items {
    list-style-type: none;
  }

  .logo_adalab {
    margin: 0 0 0 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) and (min-width: 1200px) {
  .footer {
    color: #b8b8b9;
    max-width: 100%;
    position: relative;
    bottom: 0;
  }

  .footer__paragraph {
    margin: 30px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer__menu__nav__ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 10px;
  }

  .footer__menu__items {
    list-style-type: none;
    margin: 10px 20px 10px auto;
  }

  .logo_adalab {
    margin: 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media all and (min-width: 1200px) {
  .aboutus__container__img {
    width: 278px;
    height: 278px;
  }

  .aboutus__container__bio__paragraph {
    max-width: 439px;
  }

  .hero-section {
    height: 490px;
  }

  .hero-container .hero-text {
    max-width: 507px;
  }
}

@media all and (max-width: 768px) {
  .header__menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #099d8d;
  }

  .header__menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    position: fixed;
    width: 100vw;
    height: 45px;
    top: 60px;
    background-color: #14d9c4;
  }

  .header__menu__items {
    color: white;
    margin: 10px;
    font-size: 16px;
  }

  .link {
    color: white;
    text-decoration: none;
  }

  .link:hover {
    color: #eb636b;
  }

  ul {
    padding: 0%;
  }

  .hero-section {
    height: 316px;
  }

  .hero-container .hero-text {
    width: calc(100% - 30px);
    margin: auto 15px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    background-color: white;
  }

  .hero-container .hero-text h2 {
    margin: 15px 15px;
  }
}

@media all and (max-width: 767px) {
  .central-container__sw {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .strengths {
 /* height: 350px; */
    width: 300px;
    padding: 30px 0 30px 0;
  }

  .weakness {
 /* height: 350px; */
    width: 300px;
    padding-bottom: 45px;
  }
}

/*# sourceMappingURL=main.css.map */
