.aboutus__container {
  text-align: center;
  width: 80%;
  margin: auto;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  &__img {
    width: 180px;
    height: 180px;
    background-size: contain;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.15);
    margin: 30px 0 15px 0;
    @media all and (min-width: 768px) {
      width: 205px;
      height: 205px;
    }
    @media all and (min-width: 1200px) {
      width: 278px;
      height: 278px;
    }
    &:hover {
      animation-name: marco;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-direction: linear;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
  &__bio {
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 35px 0px 0px 30px;
    }
    &__h3 {
      margin: 0 0 15px 0;
    }
    &__paragraph {
      color: $fifthColor;
      @media all and (min-width: 768px) {
        text-align: left;
      }
      @media all and (min-width: 1200px) {
        max-width: 439px;
      }
    }
    &__link {
      color: $mainColor;
      text-decoration: none;

      &:hover {
        color: $hoverIconColor;
      }
    }
  }

  &:nth-child(odd) {
    @media all and (min-width: 768px) {
      flex-direction: row-reverse;
      .aboutus__container__bio {
        align-items: flex-end;
        padding: 35px 30px 0 0;
        &__paragraph {
          text-align: right;
        }
      }
    }
  }
}

.fab {
  padding: 15px 5px;
  @media all and (min-width: 768px) {
    padding: 15px 5px 0px 5px;
  }
}
.fas {
  padding: 15px 5px;
  @media all and (min-width: 768px) {
    padding: 15px 5px 0px 5px;
  }
}
.dot {
  height: 3px;
  width: 3px;
  background-color: $fourthColor;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3px;
}
@keyframes marco {
  55% {
    border-radius: 50% 0 50% 0;
    border: 3px solid rgba(61, 158, 141, 0.5);
  }
  100% {
    border-radius: 0 50% 0 50%;
    border: 0;
  }
}
