.asterisk {
  color: #14d9c5c9;
}

.contact {
  @media all and (min-width: 1200px) {
    margin: auto 25%;
  }

  &__app {
    justify-content: center;
    text-align: center;
    &__form {
      margin: 0 15px;

      &__row {
        &__label {
          display: block;
          text-align: left;
        }
        &__field {
          font: inherit;
          border: 1px solid grey;
          margin: 5px 15px 15px 15px;
          height: 45px;
          width: 100%;
          padding-left: 15px;

          &__message {
            margin: 5px 15px 15px 15px;
            padding-top: 15px;
            padding-left: 15px;
            width: 100%;
            min-height: 105px;
            overflow: scroll;
          }
          &__button {
            background-color: #099d8ebd;
            text-transform: uppercase;
            border-radius: 0.25em;
            min-width: 290px;
            min-height: 45px;
            margin: 15px 15px 60px 15px;
          }
        }
      }
    }
  }
}
