.asterisk {
  color: #14d9c5c9;
}

.contact {
  &__app {
    justify-content: center;
    text-align: center;
    &__form {
      margin: 0 15px;

      &__row {
        &__label {
          /* border: solid 1px #fabada; */
          display: block;
          /* margin: 0 0 0 15px; */
          text-align: left;
          /* text-anchor: initial; */
        }
        &__field {
          font: inherit;
          border: 1px solid grey;
          margin: 5px 15px 15px 15px;
          height: 45px;
          min-width: 290px;
          padding-left: 15px;

          &__message {
            padding-top: 15px;
            padding-left: 15px;
            min-width: 290px;
            min-height: 105px;
            overflow: scroll;
          }
          &__button {
            background-color: #099d8ebd;
            font: inherit;
            text-transform: uppercase;
            border-radius: 0.25em;
            cursor: pointer;
            min-width: 290px;
            min-height: 45px;
            margin: 15px 15px 60px 15px;
          }
        }
      }
    }
  }
}
