$mainFontFamily: "Open Sans", sans-serif;
$secondaryFontFamily: "Rubik", sans-serif;
$mainColor: #099d8d;
$secondaryColor: #14d9c4;
$thirdColor: #ffffff;
$navColor: #a1ca9b;
$fourthColor: #000000;
$fifthColor: #54585a;
$sixthColor: #b8b8b9;
$seventhColor: #f1f1f1;
$firstHeroColor: rgba(255, 255, 255, 0.8);
$secondHeroColor: rgba(255, 255, 255, 1);
$hoverIconColor: #864796;
$navHoverColor: #864796;
