.footer {
  color: #b8b8b9;
  border-top: solid 1px #54585a;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20% 60% 40%;

  &__paragraph {
    grid-column-start: span 6;
    text-align: center;
    margin: 30px auto 20px auto;
  }
  &__menu {
    grid-column-start: span 6;
    text-align: center;
    margin-top: 30px;
    &__ul {
      padding: 0;
      &__li {
        &__link {
          text-decoration: none;
          color: #54585a;
        }
      }
    }
  }
  &__logo {
    grid-column-start: span 6;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .footer {
    color: #b8b8b9;
    border-top: solid 1px #54585a;
    max-width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .footer__paragraph {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 15px 8vw;
  }
  .footer__menu__nav__ul {
    position: absolute;
    right: 8vw;
    top: 30px;
    text-align: right;
    line-height: 180%;
    font-size: 14px;
  }
  .footer__menu__items {
    list-style-type: none;
  }
  .logo_adalab {
    margin: 0 0 0 8vw;
    display: flex;
    align-items: flex-start;
  }
  @media all and (min-width: 1200px) {
    .footer {
      color: #b8b8b9;
      max-width: 100%;
      position: relative;
      bottom: 0;
    }
    .footer__paragraph {
      margin: 30px 50px;
      display: flex;
      align-items: flex-start;
    }
    .footer__menu__nav__ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 30px;
      top: 10px;
    }
    .footer__menu__items {
      list-style-type: none;
      margin: 10px 20px 10px auto;
    }
    .logo_adalab {
      margin: 30px 30px;
      display: flex;
      align-items: flex-start;
    }
  }
}
