.footer {
  color: $sixthColor;
  border-top: solid 1px $fifthColor;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 67px 64px 120px;

  @media all and (min-width: 768px) and (max-width: 1200px) {
    height: 170px;
    grid-template-rows: 60px 110px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media all and (min-width: 1200px) {
    height: 161px;
    grid-template-rows: 50px 111px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__paragraph {
    grid-column-start: span 3;
    align-self: center;
    justify-self: center;

    @media all and (min-width: 768px) and (max-width: 1200px) {
      grid-column: 1;
      align-self: flex-end;
      justify-self: flex-start;
      padding-left: 45px;
    }
    @media all and (min-width: 1200px) {
      grid-column: 1;
      align-self: flex-end;
      justify-self: flex-start;
      padding: 30px 0px 0px 138px;
    }
  }
  &__menu {
    grid-column-start: span 3;
    align-self: center;
    justify-self: center;
    @media all and (min-width: 768px) and (max-width: 1200px) {
      grid-column: 2;
      grid-row: span 2;
      align-self: center;
      justify-self: flex-end;
      padding-right: 45px;
    }
    @media all and (min-width: 1200px) {
      grid-column: 2;
      grid-row: span 2;
      align-self: center;
      justify-self: flex-end;
      padding: 24px 138px 47px 0;
    }

    &__ul {
      padding: 0;
      text-align: center;
      @media all and (min-width: 768px) and (max-width: 1200px) {
        right: 8vw;
        top: 30px;
        text-align: right;
        line-height: 180%;
        font-size: 14px;
      }
      @media all and (min-width: 1200px) {
        right: 8vw;
        top: 30px;
        text-align: right;
        line-height: 180%;
        font-size: 14px;
      }

      &__li {
        list-style-type: none;
        &__link {
          text-decoration: none;
          color: $fifthColor;
        }
      }
    }
  }
  &__logo {
    grid-column-start: span 3;
    align-self: center;
    justify-self: center;
    @media all and (min-width: 768px) and (max-width: 1200px) {
      grid-column: 1;
      align-self: flex-start;
      justify-self: flex-start;
      padding-left: 45px;
      padding-top: 20px;
    }
    @media all and (min-width: 1200px) {
      grid-column: 1;
      align-self: flex-start;
      justify-self: flex-start;
      padding: 20px 0 51px 138px;
    }
    &__adalab {
      width: 115.9px;
      height: 45px;
    }
  }
}
