.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #099d8d;
  z-index: 999;
  opacity: 0.9;
  padding: 5px 0 0 20px;

  @media all and (max-width: 768px) {
    justify-content: center;
  }

  &__nav {
    position: relative;
    top: 15px;
    margin-right: 30px;

    @media all and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100vw;
      height: 45px;
      top: 60px;
      background-color: #14d9c4;
      left: 0px;
    }

    &__items {
      display: inline;
      margin: 10px;
      font-weight: bold;
      font-family: "Rubik-Medium", "sans-serif";
      font-size: 15px;

      @media all and (max-width: 768px) {
        color: white;
        margin: 10px;
        font-size: 16px;
      }
    }

    .logo {
      margin: 5px 10px 0 10px;

      @media all and (max-width: 768px) {
        margin: 0px;
      }
    }

    .link {
      color: #a1ca9b;
      text-decoration: none;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: #eb636b;
      }
      @media all and (max-width: 768px) {
        color: white;
      }
    }
  }
}

ul {
  padding: 0%;
}

.anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;

  /* @media all and (max-width: 768px){} */
}
