/*Globales*/
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Rubik', sans-serif;*//*Cogerla para los títulos, deb. fort., menu (nav), hero y footer*/ 
}
.title {
  color: #099D8D;
  text-align: center;
  margin: 60px 0 45px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
}

/*Header*/
.header__menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color:#099d8d;
  z-index: 999;
}
.header__menu__items {
  display: inline;
  margin: 10px;
  font-weight: bold;
}
.logo {
  margin: 5px;
}
.header__menu__nav {
  position: relative;
  top: 35px;
}
.link {
  color: #a1ca9b; 
  text-decoration:none;
}
.link:hover {
  color: #eb636b; 
}

@media all and (max-width: 768px) {
  .header__menu {
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color:#099d8d;
  }
  .header__menu__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    width: 100vw;
    height: 35px;
    top: 60px;
    background-color: #14d9c4;
  }
  .header__menu__items {
    color: white;
    margin: 10px;
    font-weight: bold;
  }
  .link {
    color: white;
    text-decoration:none;
  }
  .link:hover {
    color: #eb636b; 
  }
  ul {
    padding: 0%;
  }
}

@media all and (min-width: 768px) and (max-width:1200px) {
  .header__menu {
      justify-content: space-between;
      position: fixed;
      width: 100vw;
      height: 60px;
      background-color:#099d8d;
  }
    
  .header__menu__nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
      position: fixed;
      width: 100vw;
      height: 35px;
      top: 60px;
      background-color: #14d9c4;
  }
  .link {
      color: white;
      text-decoration: none;
  }
}  

/*Hero*/

.hero-section{
  width: 100vw;
  background-image: url('../images/slide.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.hero-container{
  max-width: 924px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
}
.hero-container .hero-text {
  background-color: rgba(255, 255,255, .8);
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.hero-container .hero-text h2{
  margin: 15px 30px;
  font-family: sans-serif;
  text-align: left;
}

@media all and (min-width: 1200px) {
  .hero-section{
    height: 490px;
  }
  .hero-container .hero-text {
      max-width: 507px;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .hero-section{
    height: 361px;
  }
  .hero-container .hero-text {
    max-width: 441px;
  }
}

@media all and (max-width: 768px) {
  .hero-section{
    height: 316px;
  }
  .hero-container .hero-text {
    width: calc(100% - 30px);
    margin: auto 15px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  .hero-container .hero-text h2{
    margin: 15px 15px;
  }
}

/*Team*/
   
.team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;       
  align-items: center;
  margin: 50px;     
}
.team-description{
  text-align: center;
}
@media all and (min-width: 768px) {
  .team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;       
    align-items: center;
    margin: 50px 100px;     
  }
}

/*Fortalezas y debilidades*/

.sw__detail{
  box-sizing: border-box;
  /* border: 1px solid black; */
  background-color: white;
  width: 27px;
  height: 27px;
  margin: auto;
  display: block;
  position: relative;
  transform: 
  translateY(50%) 
  /* translateX(465px) */
  rotate(45deg);
  z-index: 980;
}
.central-container__sw{
  /*border: 1px solid black;*/
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  position:relative;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
}
.strengths {
  text-align: center;
  /* border: 1px solid black; */
  width: 40%;
  padding: 40; 
}
.weakness { 
  text-align: center;
  /* border: 1px solid black; */
   width: 40%;
   padding: 40;
}
.strenghts__title {
  color: #099D8D;
  text-align: center;
  margin-top: 20px;
  padding-top: 40px;
}
.weakness__title {
  color: #099D8D;
  text-align: center;
  margin-top: 20px;
  padding-top: 40px; 
}
.strengths__text {
  padding: 10px 0 15px;
  text-align: center;
}
.weakness__text {
  padding: 10px 0 15px;
  text-align: center;
}

@media all and (max-width:768px) {

  .central-container__sw{
    flex-direction: column;
  }
  .strengths {
    height: 350px;
    width: 300px;
    padding: 10px;
  }
  .weakness { 
    height: 350px;
    width: 300px;
    padding: 10px;
  }
}

/*Quiénes somos*/


  section{
    width: 100%;
    /* border: 2px solid red;*/
}
  .container-person {
    display: flex;
    width: 100%;
    flex-wrap: no-wrap;
    margin-bottom: 60px;
    /*border: 1px solid orange;
    */
 }
 /*.square {
      background:#b8b8b9;
      width: 205px;
      height:205px;
 }
 */
  .picture-person {
      display: block;
      /*border: 20px solid #b8b8b9;
      */
      border-radius: 8px;
      /*border: 1px solid blue;
      */
  }
  .person {
      display: block;
      width: 205px;
      height: 205px;
      margin-left: auto;
      margin-right: auto;
      border: 10px solid #b8b8b9;
      border-radius: 8px;
      margin-top: 50px;
  }
  .person-reverse {
      border: 1px solid red;
      display: block;
      width: 205px;
      height: 205px;
      margin-left: auto;
      margin-right: auto;
      border: 10px solid #b8b8b9;
      border-radius: 8px;
      margin-top: 40px;
  }
  .great-person {
      text-align: left;
  }
  .about-person {
      font-family: 'Open Sans', sans-serif;
      max-width: 439px;
      text-align: left;
      margin-left: 45px;
      margin-right: 45px;
      margin-bottom: 15px;
  }
  .icons {
      color: #14d9c4;
      text-align: left;
      margin-left: 60px;
      margin-top: 15px;
      margin-bottom: 0px;
      margin-right: auto;
      transform: scale(1.5);
      display: inline-block;
      /* transform: translate (-100px); */
      /*flex-wrap: wrap;
      text-align: left;
      */
  }
  .container-person-reverse {
      display: flex;
      flex-direction: row-reverse;
  }
  .great-person-reverse {
      text-align: right;
      margin-right: 30px;
      margin-left: 20px 
  }
  .about-person-reverse {
      font-family: 'Open Sans', sans-serif;
      max-width: 439px;
      text-align: right;
      margin-left: 45px;
      margin-right: 30px;
      margin-bottom: 15px;
  }
  .icons-reverse {
      color: #14d9c4;
      text-align: left;
      margin-left: auto;
      margin-top: 15px;
      margin-bottom: 60px;
      margin-right: 50px;
      transform: scale(1.5);
      display: inline-block;
      /*flex-wrap: wrap;
      text-align: left;
      */
  }
@media all and (min-width:768px) { 
  .container-person {
    display: flex;
    align-items: center;
  }
  .container-person-reverse {
    display: flex;
    flex-direction: center;
  }
  .great-person {
    text-align: left;
   
  }
  .great-person-reverse {
    text-align: right;
    margin-right: 30px;
    margin-left: 20px
  }
  .icons {
    color: #14d9c4;
    text-align: left;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 60px;
    margin-right: auto;
    transform: scale(1.5) translate (100px);
    display: inline-block;
    position: relative;
    /*flex-wrap: wrap;
    text-align: left;
    */
  }
  .icons-reverse {
    color: #14d9c4;
    text-align: left;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 60px;
    margin-right: 50px;
    transform: scale(1.5) translate (100px);
    display: inline-block;
    position: relative;

    /*flex-wrap: wrap;
    text-align: left;
    */
  }
}

  /*Footer*/

  .footer {
    color: #b8b8b9;
    text-align: center;
    max-width: 100%;
  }
  .footer__paragraph {    
    margin: 30px auto;
  }    
  .footer__menu__nav__ul {
    padding: 0; 
  }       
  .footer__menu__items { 
    list-style-type: none;   
  }
  .link__footer {
    text-decoration: none;
    color: #b8b8b9;
    font-weight: bold;
  }
  .logo_adalab {
    margin: 30px auto;
  }

@media all and (min-width:768px) and (max-width:1200px) {
  .footer {
      color: #b8b8b9;
      max-width: 100%;
      position: relative;
      bottom: 0;      
  }
  .footer__paragraph {    
      margin: 30px 30px;
      display: flex;
      align-items: flex-start;
  }    
  .footer__menu__nav__ul {
      padding: 0; 
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 30px;
      top: 10px;   
  }
  .footer__menu__items { 
      list-style-type: none; 
      margin: 10px 15px 10px auto;   
  }
  .logo_adalab {
      margin: 30px 30px;
      display: flex;
      align-items: flex-start;
  }
}
@media all and (min-width:1200px) {
  .footer {
      color: #b8b8b9;
      max-width: 100%;
      position: relative;
      bottom: 0;      
  }
  .footer__paragraph {    
      margin: 30px 50px;
      display: flex;
      align-items: flex-start;
  }    
  .footer__menu__nav__ul {
      padding: 0; 
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 30px;
      top: 10px;   
  }
  .footer__menu__items { 
      list-style-type: none; 
      margin: 10px 20px 10px auto;      
  }
  .logo_adalab {
      margin: 30px 30px;
      display: flex;
      align-items: flex-start;
  }
}








